
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}



.container{
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(background.png);
    width: 90%;
    height: 40vh;
    background-size: cover;
    position: center; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-position: center;

}

h1{
    color:white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    text-align: center;
    padding-top: 20px;
    justify-content: center;
}

.buttons{

    display: flex;
    justify-content: center;
}
.buttons img{
    width: 50px;
    margin: 10px;
}